footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #000000d6;
  align-items: center;
  justify-content: flex-end;

  & .createdBy {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 1rem;
    &__name {
      font-size: 1.2rem;
    }
  }
}
